.bg-hover-bright:hover {
  background-color: #ff785e !important;
  color: #fff;
}

.bg-hover-warning:hover {
  background: #ffdf65;
  color: #858377;
  border: none;
}

.bg-hover-warning:hover > i {
  color: #ff785e;
}

.bg-no-hover-secondary:hover {
  color: #858377;
  border-color: #858377;
  background: #f8f9fa;
}
